* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: linear-gradient(to bottom right, #284acf, #fd5ca0);
    width: 100%;
}

#home-page-wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

svg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
    z-index: 1;
    min-width: 500px;
    min-height: 500px;
}

@keyframes pipeGlowH {
    from {
        x: 100%;
    }

    to {
        x: -100%;
    }
}

.maskRectH {
    animation: pipeGlowH 4s linear infinite;
}

@keyframes pipeGlowV {
    from {
        y: 100%;
    }

    to {
        y: -100%;
    }
}

.maskRectV {
    animation: pipeGlowV 4s linear infinite;
}

.cls-1 {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 2;
}

.cls-2 {
    fill: none;
    stroke: #ffdd00;
    stroke-miterlimit: 10;
    stroke-width: 2;
}

header {
    display: flex;
    height: 100px;
    max-width: 100vw;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #E8E8E8;
    font-family: monospace;
    font-size: 15px;
}

li > a {
    position: relative;
    font-size: 18px;
}

li > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: #E8E8E8;
    top: 100%;
    left: 0;
    transition: width .5s;
}

li > a:hover::after {
    width: 100%
}

.homepage-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.intro {
    padding-top: 80px;
    padding-bottom: 150px;
    padding-left: 150px;
    color: white;
}

h1 {
    text-align: left;
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    font-family: monospace;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: monospace;
    max-width: 500px;
}

button {
    height: 50px;
    width: 150px;
    background-color: #333533;
    border: none;
    font-family: monospace;
    font-size: 15px;
    border-radius: 3px;
}

#projBtn {
    padding: 0 10px;
    margin-top: 15px;
}

#github {
    height: 150px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 150px;
    transition: width .5s;
}

#github > a {
    display: inline-block;
    transform: rotate(90deg);
}

#github:hover {
    width: 75px;;
}

.projects-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 100px;
    padding: 0 150px 80px 150px;
}

#projects-title {
    font-family: monospace;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 100;
}

.project {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    padding: 20px 30px;
}

.thumbnail-container {
    display: flex;
    height: 100%;
    width: 45%;
}

.project-thumbnail {
    background-image: url(./sample.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}

.project-description {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}

.description {
    font-size: 1.1rem;
}

span {
    display: inline-block;
    border: solid 2px lightblue;
    border-radius: 4px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: monospace;
    margin-right: 5px;
}

.project-btns {
    margin-right: 15px;
}