* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: linear-gradient(to bottom right, #284acf, #fd5ca0);
    width: 100%;
}

#home-page-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}

header {
    display: flex;
    height: 80px;
    max-width: 100vw;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

li {
    display: flex;
    align-items: center;
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #E8E8E8;
    font-family: monospace;
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

li > a {
    position: relative;
}

li > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: #E8E8E8;
    top: 100%;
    left: 0;
    transition: width .5s;
}

li > a:hover::after {
    width: 100%
}

.container {
    display: grid;
    grid-template-rows: auto;
}

#home-greeting-wrapper {
    height: 100%;
    margin-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 15px;
}

h1 {
    text-align: left;
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    font-family: monospace;
}

p {
    font-size: 18px;
    font-family: monospace;
}

button {
    height: 50px;
    width: 150px;
    background-color: #333533;
    border: none;
    font-family: monospace;
    font-size: 18px;
    border-radius: 5px;
}

#intro-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pages-title {
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

#projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 15px 50px 15px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    padding: 20px 30px;
}

.project-thumbnail {
    display: flex;
    background-image: url(./sample.png);
    min-height: 200px;
    min-width: 250px;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

span {
    display: inline-block;
    border: solid 2px lightblue;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    font-family: monospace;
    margin-right: 5px;
    margin-top: 5px;
}

.project-btns {
    flex-grow: 1;
}

.project-btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#contact-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 15px 0 15px;
}

#contact-container {
    width: 100%;
}

#contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    border: solid 1px white;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    color: #333533;
}

.contact-title {
    text-align: center;
}

@media all and (min-width: 500px) {
    #home-container {
        margin: 0 auto;
        max-width: 650px
    }

    #projects-container {
        margin: 0 auto;
        max-width: 650px;
    }

    #contact-container {
        margin: 0 auto;
        max-width: 650px;
    }
}


@media all and (min-width: 800px) {
    #home-container {
        max-width: 800px
    }

    #projects-container {
        max-width: 800px;
    }

    .project {
        flex-direction: row;
        gap: 20px;
    }

    .project-thumbnail {
        margin-bottom: 0px;
    }

    #contact-container {
        max-width: 800px;
    }

    #contact-info-container {
        flex-direction: row;
        justify-content: center;
        gap: 250px;
    }

}



/*

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    
}

.hide {
    display: none;
}

svg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
    z-index: 1;
    min-width: 500px;
    min-height: 500px;
}

@keyframes pipeGlowH {
    from {
        x: 100%;
    }

    to {
        x: -100%;
    }
}

.maskRectH {
    animation: pipeGlowH 4s linear infinite;
}

@keyframes pipeGlowV {
    from {
        y: 100%;
    }

    to {
        y: -100%;
    }
}

.maskRectV {
    animation: pipeGlowV 4s linear infinite;
}

.cls-1 {
    fill: none;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: 2;
}

.cls-2 {
    fill: none;
    stroke: #ffdd00;
    stroke-miterlimit: 10;
    stroke-width: 2;
}


*/