* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #284acf, #fd5ca0) ;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
}

.svgLayer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
    z-index: 1;
    min-width: 500px;
    min-height: 500px;
}

header {
    display: flex;
    height: 100px;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #E8E8E8;
    font-family: monospace;
    font-size: 15px;
}

li > a {
    position: relative;
    font-size: 18px;
}

li > a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: #E8E8E8;
    top: 100%;
    left: 0;
    transition: width .5s;
}

li > a:hover::after {
    width: 100%
}

main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.intro {
    padding-bottom: 150px;
    padding-left: 150px;
    color: white;
}

h1 {
    text-align: left;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-family: monospace;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: monospace;
    max-width: 500px;
}

button {
    height: 50px;
    width: 150px;
    background-color: #333533;
    border: solid .5px #1d3d61;
    font-family: monospace;
    font-size: 15px;
    border-radius: 2px;
}

#projBtn {
    padding: 0 10px;
    margin-top: 15px;
}

#github {
    height: 150px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 150px;
    transition: width .5s;
}

#github > a {
    display: inline-block;
    transform: rotate(90deg);
}

#github:hover {
    width: 75px;;
}


.cls-1 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

